
### the below ignores all executables ###
# Ignore all
*
# Unignore all with extensions
!*.*
# unignore Makefile
!Makefile
# Unignore all dirs
!*/
##########################################

# ignore vscode
.vscode
*.dSYM
!googletest
build/
.DS_Store
gdb-entitlement.xml
